
  
  .text-container {
    display: inline-flex;
    flex-direction: column;
    height: 2rem;
    overflow: hidden;
  }
  
  .text-container span {
    height: 2rem;
    color: lightcoral;
    animation: moveUp 10s linear infinite;
  }
  
  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    
    5% {
      transform: translateY(0);
    }
  
    15% {
      transform: translateY(-2.3rem);
    }
  
    25% {
      transform: translateY(-2.3rem);
    }
  
    35% {
      transform: translateY(-4.6rem);
    }
  
    45% {
      transform: translateY(-4.6rem);
    }
  
    55% {
      transform: translateY(-6.9rem);
    }
  
    65% {
      transform: translateY(-6.9rem);
    }
  
    75% {
      transform: translateY(-9.2rem);
    }
  
    95% {
      transform: translateY(-9.2rem);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  